<nav class="{{color}}">
    <p id="Name">
        Miles Fritzmather
    </p>
    <ul class="navigation-elements">
        <li><a class="underline-hover {{ color }} {% if bp_adress=='Home' %} active {% endif %}" href="/Home">Home</a></li>
        <li><a class="underline-hover {{ color }} {% if bp_adress=='About' %} active {% endif %}" href="/About">About</a></li>
        <li><a class="underline-hover {{ color }} {% if bp_adress=='Contact' %} active {% endif %}" href="/Contact">Contact</a></li>
        <li><a class="underline-hover {{ color }} {% if bp_adress=='Projects' %} active {% endif %}" href="/Projects">Projects</a></li>
    </ul>
</nav>
<div id="navbar-bumper"> </div>