body {
	background-color: var(--background);
	color: var(--text);
}

#mouse_glow {
	position: fixed;
	transform: translate(-50%, -50%);

	width: 60vmin;
	height: 60vmin;
	border-radius: 50%;

	background: linear-gradient(
		var(--primary),
		var(--secondary)
	);

	animation: rotate 1s infinite 0s infinite forwards;
	filter: blur(20px);
}


keyframes: rotate {
	0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }	
}

#textblock {
	position: fixed;
	left: 25vw;
	top: 25vh;
	transform: translate(-50%, -50%);
	width: 50vmin;
	height: 50vmin;

	font-size: 3rem;
	font-weight: 500;

	background-color: rgba(var(--RGB_VALUES-accent), 0.2);
	border-radius: 20px;
}