@import 'navbar.css';
@import 'text_effects.css';

:root {
    --RGB_VALUES-background:   035, 032, 037;
    --RGB_VALUES-text:         248, 232, 228;
    --RGB_VALUES-primary:      242, 112, 112;
    --RGB_VALUES-secondary:    228, 186, 219;
    --RGB_VALUES-accent:       104, 196, 191;

    --background:   rgb(var(--RGB_VALUES-background));
    --text:         rgb(var(--RGB_VALUES-text));
    --primary:      rgb(var(--RGB_VALUES-primary));
    --secondary:    rgb(var(--RGB_VALUES-secondary));
    --accent:       rgb(var(--RGB_VALUES-accent));
}

@font-face {
    font-family: 'Code';
    src: url(/Downloads/SourceCodePro-VariableFont_wght.ttf);
}

body {
    background: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', monospace;
    overflow-x: hidden;
}

.container {
    width: 95vw;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    background-color: var(--background);
    filter: brightness(1.03);
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 5px black;
    padding: 0.5em;
}

.bg-base {
    background-color: var(--background);
    filter: brightness(1.03);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    padding: 20px;
}